@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

:root {
  --blue: #21094e;
  --purple: #511281;
  --turquoise: #4ca1a3;
  --green: #a5e1ad;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #eaeaea;
  font-family: "Girassol", cursive;
}

.container-Grid {
  max-width: 1200px;
  margin: 30px auto;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.568);
  padding: 2px;
}


.box {
  width: 200px;
  height: 200px;
  margin: 10px; 
  border-radius: 10px;
  font-size: 3rem;
  background-color: var(--blue);
  border-color: #090018;
  color: white;
  box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-of-type(1) {
  background-color: var(--purple);
  border-color: #360958;
}

.box:nth-of-type(2n) {
  background-color: var(--turquoise);
  border-color: rgb(1, 17, 17);
}

.box:nth-of-type(4n) {
  background-color: var(--green);
  border-color: rgb(1, 17, 1);
}